@import '../../../config.scss/rem-calc.scss';
@import '../../../config.scss/variables.scss';
:host{
.listagem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: rem-calc(15) 0;
    .pokemon{
        display: flex;
        justify-content: space-between;
        background: var(--branco);
        width: 48%;
        height: rem-calc(160);
        border-radius: rem-calc(10);
        margin-bottom: rem-calc(10);
        cursor: pointer;
        text-decoration: none;
        color: #111;
        &__status{
            width: 50%;
            padding-top: rem-calc(20);
            padding-left: rem-calc(10);

            h2{
                font-size: rem-calc(22);
                font-weight: 800;
                position: relative;
                text-transform: capitalize;
            }
            ul{
                display: flex;
                flex-direction: column;
                padding-top: rem-calc(7);
            }
            li{
                display: flex;
                width: rem-calc(56);
                height: rem-calc(16);
                font-size: rem-calc(11);
                background-color: #EFEFEF;
                align-items: center;
                justify-content: center;
                border-radius: rem-calc(32);
                margin-bottom: rem-calc(8);
            }
        }

        &__image{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;            
        
            div{
            height: rem-calc(90);
            width: rem-calc(110);
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;            
            background: url(../../../assets/fundoPoke.svg);
            background-repeat: no-repeat;
            }
            img{
                width: rem-calc(80);
                height: rem-calc(80);
            }

        }
    }
}
}